@import "tailwindcss";

@layer base {
  :root {
    --mint: #a8e6d5;
    --mint-light: #d4f5eb;
    --primary-text-color: #e5fff8;
    --background: #effffb;
    --mint-gradient: linear-gradient(to bottom, #83dbc4 40%, #58cdaf 100%);
  }
  body {
    background-color: var(--background);
    color: white;
    text-color: var(--primary-text-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Montserrat-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Montserrat-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Montserrat-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Montserrat-Bold.ttf") format("ttf");
}
@layer components {
  /* Component Specific Utilities */
  /* Navbar starting */
  .navbar-main {
    @apply relative z-20 bg-none px-2 py-3 md:px-4 md:py-6 flex items-center justify-between;
  }
  .nav-link {
    @apply text-sm md:text-base lg:text-lg font-medium duration-200 text-white hover:opacity-70;
  }

  .mobile-menu {
    @apply absolute top-full left-0 w-full shadow-md text-white
           flex flex-col items-center space-y-4 p-6
           transition-all duration-300 ease-in-out;
  }

  /*  General Utilities*/
  /* Gradient Text */
  .gradient-text-1 {
    @apply bg-gradient-to-r from-[#8FF7DC] to-[#58CDAF] bg-clip-text text-transparent font-semibold;
  }
  .gradient-text-2 {
    @apply bg-gradient-to-r from-[#E5FFF8] to-[#FFFFFF] bg-clip-text text-transparent;
  }

  .gradient-background-1 {
    @apply bg-gradient-to-r from-[#83DBC4] to-[#58CDAF];
  }
  .vertical-gradient-background-1 {
    @apply bg-gradient-to-b from-[#83DBC4] to-[#58CDAF];
  }
  /* Gradient based backround */
  .hero-gradient-background {
    @apply h-[100vh] w-screen bg-center bg-no-repeat bg-cover relative;
    background-image: url("/backgroundImages/heroSection/heroStrollerImage.png");
  }
  .about-hero-gradient-background {
    @apply h-[100vh] w-screen bg-center bg-no-repeat bg-cover relative;
    background-image: url("/backgroundImages/aboutUs/aboutUsLandingPage.png");
  }
  .product-hero-gradient-background {
    @apply h-[100vh] w-screen bg-center z-40 bg-no-repeat bg-cover relative;
    background-image: url("/backgroundImages/productPage/productLandingPage.png");
  }
  .science-hero-gradient-background {
    @apply h-[100vh] w-screen bg-center bg-no-repeat bg-cover z-10 relative;
    background-image: url("/backgroundImages/science/scienceLandingPage.png");
  }

  /* Background Image */
  .bg-image-overlay {
    @apply absolute  w-full  h-1/2 md:h-5/6 bg-center md:bg-[position:right_bottom] md:-translate-x-[clamp(1em,10vw,10em)] bottom-0 bg-no-repeat bg-contain transition-[background-position] duration-300 ease-in-out;
    background-image: url("/backgroundImages/heroSection/heroStrollerImage2.png");
  }
  .about-bg-image-overlay {
    @apply absolute  w-full  h-1/2 md:h-5/6 bg-center md:bg-[position:right_bottom] md:-translate-x-[clamp(1em,10vw,10em)] bottom-0 bg-no-repeat bg-contain transition-[background-position] duration-300 ease-in-out;
    background-image: url("/backgroundImages/aboutUs/aboutUsLandingPageOverlay.png");
  }
  .product-bg-image-overlay {
    @apply absolute  w-full h-1/2 md:h-5/6 bg-center md:bg-[position:right_bottom] md:-translate-x-[clamp(1em,10vw,10em)] bottom-0 bg-no-repeat bg-contain transition-[background-position] duration-300 ease-in-out;
    background-image: url("/backgroundImages/productPage/productLandingPageOverlay.png.png");
  }

  /* Centering the absolute elements */
  .center-absolute-x {
    @apply absolute left-1/2 -translate-x-1/2;
  }
  .center-absolute-y {
    @apply absolute top-1/2 -translate-y-1/2;
  }

  .arrow-section {
    @apply flex justify-center items-center;
  }
  .cta-button {
    @apply text-4xl bg-none flex w-auto h-auto items-center justify-center text-black rounded-full;
    border: 3px solid transparent;

    /* gradient only on the 3px border */
    border-image-source: linear-gradient(
      to right,
      #8ff7dc 0%,
      #5dd2b3 50%,
      #8ff7dc 100%
    );
    border-image-slice: 1;
  }
}
